@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  src: url('/assets/fonts/lora/Lora-VariableFont_wght.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  src: url('/assets/fonts/lora/Lora-Italic-VariableFont_wght.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  src: url('/assets/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf')
    format('truetype');
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-black-900: hsl(0 0% 2%);
  --clr-black-800: hsl(0 0% 12%);
  --clr-black-700: hsl(0 0% 18%);
  --clr-black-600: hsl(0 0% 23%);
  --clr-black-300: hsl(0 0% 51%);
  --clr-gray-200: hsl(0, 0%, 91%);
  --clr-gray-400: hsl(0, 0%, 96%);
  --clr-white-400: hsl(0 0% 100%);
  --clr-purple-400: hsl(274 82% 60%);
  --clr-red-400: hsl(0 100% 66%);

  --clr-accent: var(--clr-purple-400);
  --clr-error: var(--clr-red-400);
  --clr-toggle-on: var(--clr-accent);
  --clr-toggle-off: var(--clr-black-300);

  --clr-dark-bg: var(--clr-black-900);

  --clr-page-bg: var(--clr-white-400);

  --theme: 'light';

  --ff-sans: 'Inter', sans-serif;
  --ff-serif: 'Lora', sans-serif;
  --ff-mono: 'Inconsolata', mono;

  --ff-main-ff: var(--ff-sans);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --spacer: 1rem;
  --spacer-sm: calc(var(--spacer) / 2);
  --spacer-md: calc(var(--spacer) * 1.5);
  --spacer-lg: calc(var(--spacer) * 2);
  --spacer-xl: calc(var(--spacer) * 2.5);
  --gutter: var(--spacer-md);

  --max-width: 737px;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  background-color: var(--clr-page-bg);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-main-ff);
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-weight: bold;
  font-size: 1.25rem;
}

body.dark {
  background-color: var(--clr-dark-bg);
  color: var(--clr-white-400);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--clr-accent);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar .options {
  display: flex;
  gap: 1em;
}

.typeface-selector {
  border: none;
  accent-color: var(--clr-accent);
}

.dark .typeface-selector {
  background-color: var(--clr-black-900);
  color: var(--clr-white-400);
}

.App {
  min-width: 50vw;
  min-height: 80vh;
  margin: 0 auto;
  padding: var(--gutter);
  max-width: var(--max-width);
}

/* TOGGLE BUTTON - LIGHT/DARK THEME */

.toggle-button {
  display: inline-block;
  position: relative;
  background-color: var(--clr-black-300);
  border-radius: 10px;
  border: none;
  height: 20px;
  width: 40px;
  cursor: pointer;
}

.toggle-button::after {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--clr-white-400);
  border: none;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  top: 3px;
  left: 3px;
  transition: transform 350ms ease;
}

.toggle-button.on {
  background-color: var(--clr-purple-400);
}

.toggle-button.on::after {
  transform: translateX(19px);
  transition: transform 350ms ease;
}

/* SEARCH INPUT */

.search-input__container {
  position: relative;
  padding: 0;
  border: none;
  margin-top: 50px;
}

.search-input__container::after {
  position: absolute;
  content: '';
  top: 30%;
  right: 5%;
  height: 18px;
  width: 18px;
  background-image: url('/assets/images/icon-search.svg');
  background-position: center;
}

.search-input__search {
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: var(--clr-gray-200);
  border: none;
  border-radius: 1rem;
}

.search-input__search::placeholder {
  opacity: 0.25;
}

.search-input__search:focus {
  outline: none;
}

.search-input__error-message {
  color: var(--clr-error);
  font-size: 1.25rem;
  font-weight: normal;
  margin-top: 0.25rem;
}

.error {
  outline: none;
  box-shadow: 0 0 0 2px var(--clr-error);
}

/* DICTIONARY ENTRY */
.dictionary-entry__container {
  margin-top: var(--spacer-md);
}

.dictionary-entry__interactive-header {
  display: flex;
  justify-content: space-between;
}

.dictionary-entry__spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: var(--spacer-lg);
}

.dictionary-entry__play-button {
  height: 75px;
  width: 75px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.dictionary-entry__play-button img {
  pointer-events: none;
}

.dictionary-entry__phonetic {
  color: var(--clr-accent);
  font-weight: 300;
  font-size: 1.5rem;
}

.dictionary-entry__part-of-speech {
  position: relative;
  font-style: italic;
  font-size: 1.5rem;
  margin-top: var(--spacer-md);
}

.dictionary-entry__part-of-speech::after {
  content: '';
  position: absolute;
  width: calc(100% - 4ch);
  height: 1px;
  top: 50%;
  right: 0;
  background-color: var(--clr-gray-400);
  z-index: -1;
}

.dictionary-entry__definitions-list {
  margin-top: var(--spacer-sm);
}

.dictionary-entry__definition {
  font-size: 1.125rem;
  font-weight: 400;
}

.dictionary-entry__definition::marker {
  color: var(--clr-accent);
}

.dictionary-entry__meaning-label {
  color: #757575;
  font-weight: normal;
  font-size: 20px;
  margin-top: var(--spacer-md);
}

.dictionary-entry__synonyms {
  color: var(--clr-black-300);
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: var(--spacer-md);
}

.dictionary-entry__synonym {
  color: var(--clr-accent);
  font-weight: bold;
}

.dictionary-entry__synonym:not(:last-of-type) {
  margin-right: var(--spacer-sm);
}

.dictionary-entry__example {
  color: #757575;
}

.dictionary-entry__source {
  font-size: 14px;
  border-top: 1px solid #e9e9e9;
  padding-top: 0.25em;
  margin-top: var(--spacer-lg);
}

.dictionary-entry__source-heading {
  font-weight: normal;
  color: var(--clr-black-300);
  text-decoration: underline;
}

.dark .dictionary-entry__source-heading {
  text-decoration: none;
}

.dictionary-entry__source a {
  font-weight: normal;
  color: #2d2d2d;
  margin-right: var(--spacer-sm);
}

.dark .dictionary-entry__source a {
  color: var(--clr-white-400);
}

.dictionary-entry__source a img {
  display: inline;
}

/* UTILITIES */

.visually-hidden {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1;
  width: 1;
  margin: -1;
  padding: 0;
  border: 0;
}
